.encre-editor__container {
  display: block;
  overflow: auto;
  box-sizing: border-box;
}
.encre-editor {
  display: block;
  width: 100%;
  height: 100%;
  & [contenteditable*='true'] {
    border: 0;
    outline: none;
  }
}

.ee-block {
  display: block;
  &__content {
    display: block;
    margin: 0 16px;
  }
}

.ee-paragraph {
  padding: 4px 0;
  margin: 0;
}
