.encre-editor__container {
  display: block;
  overflow: auto;
  box-sizing: border-box;
}
.encre-editor {
  display: block;
  width: 100%;
  height: 100%;
  [contenteditable*='true'] {
    border: 0;
    outline: none;
    line-height: 1.5;
  }

  p[contenteditable*='true'] {
    padding: 4px 0;
    margin: 0;
  }
}

.encre-block {
  display: block;
  &__content {
    display: block;
    margin: 0 16px;
  }
}
