body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f8f7fa;
}

.header {
  width: 100%;
  height: 256px;
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header button {
  background-color: #32e0c4;
  cursor: pointer;
  outline: none;
  color: white;
  padding: 9px 11px;
  border: 1px solid transparent;
  border-radius: 8px;
  margin: 8px 0;
  font-size: 16px;
}
.content__container {
  padding-top: 1rem;
  flex: 1 0 auto;
}
.content {
  border-radius: 8px;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.toolbar {
  display: flex;
  width: 100%;
  height: 48px;
  padding: 6px 0;
  flex-wrap: wrap;
  justify-content: center;
}

.toolbar-btn {
  width: 36px;
  height: 36px;
  outline: none;
  border: 0;
  padding: 0;
  border-radius: 4px;
  margin-right: 4px;
  background-color: transparent;
  transition: all 300ms ease;
  cursor: pointer;
}

.toolbar-btn.active,
.toolbar-btn:hover {
  background-color: #dfdfdf;
}

#content {
  flex: 1;
}
#json-container {
  flex: 0 1 auto;
}
